[defaults]
nocows=True
remote_user=root
inventory=./hosts.yml
private_key_file=./secrets/id_ed25519_admin
inject_facts_as_vars=False
vault_identity_list = default@secrets/password_file
interpreter_python = auto_silent
host_key_checking = False
[ssh_connection]
# The SSH-level toggle for new budget VPS IPs
ssh_args = -o StrictHostKeyChecking=no -o PreferredAuthentications=publickey,password
[privilege_escalation]
# (boolean) Display an agnostic become  bprompt instead of displaying a prompt containing the command line supplied become method
;agnostic_become_prompt=True

# (boolean) This setting controls if become is skipped when remote user and become user are the same. I.E root sudo to root.
# If executable, it will be run and the resulting stdout will be used as the password.
;become_allow_same_user=False

# (boolean) Toggles the use of privilege escalation, allowing you to 'become' another user after login.
;become=False

# (boolean) Toggle to prompt for privilege escalation password.
;become_ask_pass=False

# (string) executable to use for privilege escalation, otherwise Ansible will depend on PATH
;become_exe=

# (string) Flags to pass to the privilege escalation executable.
;become_flags=

# (string) Privilege escalation method to use when `become` is enabled.
;become_method=sudo

# (string) The user your login/remote user 'becomes' when using privilege escalation, most systems will use 'root' when no user is specified.
;become_user=root

[tags]
# (list) default list of tags to run in your plays, Skip Tags has precedence.
;run=

# (list) default list of tags to skip in your plays, has precedence over Run Tags
;skip=
