base-url: "{{ ntfy_url }}"
listen-http: ":{{ ntfy_port }}"
cache-file: "/var/cache/ntfy/cache.db"
auth-file: "/var/lib/ntfy/user.db"
auth-default-access: "deny-all"
auth-users:
{% for user in ntfy_users %}
  - "{{ user.username }}:{{ user.hash }}:{{ user.role }}"
{% endfor %}
behind-proxy: true
proxy-forwarded-header: "X-Forwarded-For"
template-dir: "/etc/ntfy/templates
# iOS users:
#   If you use the iOS ntfy app, you MUST configure this to receive timely notifications. You'll like want this:
upstream-base-url: "https://ntfy.sh"
attachment-cache-dir: /var/cache/ntfy
attachment-total-size-limit: "2G"
attachment-file-size-limit: "15M"
attachment-expiry-duration: "3h"
enable-signup: false
require-login: true
enable-login: true
enable-reservations: true
# Web Push Settings
web-push-public-key: "{{ ntfy_web_pubkey }}"
web-push-private-key: "{{ ntfy_web_key }}"
web-push-email-address: "{{ ntfy_web_email }}
web-push-file: /var/cache/ntfy/webpush.db"
