services:
  crafty:
    container_name: crafty
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    restart: always
    environment:
      - TZ=Europe/Copenhagen
    ports:
      - "{{ minecraft_ports.crafty }}:8443" # HTTPS
      - "{{ minecraft_ports.dynmap }}:8123" # DYNMAP
      - "{{ minecraft_ports.voice }}:24454/udp" # VOICE
      # - "{{ minecraft_ports.bedrock_servers }}:{{ minecraft_ports.bedrock_servers }}/udp" # BEDROCK
      # - "{{ minecraft_ports.servers }}:{{ minecraft_ports.servers }}" # BEDROCK
    volumes:
      - "{{ minecraft_dirs.crafty }}/backups:/crafty/backups"
      - "{{ minecraft_dirs.crafty }}/logs:/crafty/logs"
      - "{{ minecraft_dirs.crafty }}/servers:/crafty/servers"
      - "{{ minecraft_dirs.crafty }}/config:/crafty/app/config"
      - "{{ minecraft_dirs.crafty }}/import:/crafty/import"
  velocity:
    image: itzg/mc-proxy
    container_name: velocity
    stdin_open: true
    tty: true
    environment:
      TYPE: VELOCITY
      DEBUG: "false"
    ports:
      - "{{ minecraft_ports.proxy }}:{{ minecraft_ports.proxy }}"
      - "{{ minecraft_ports.bedrock }}:{{ minecraft_ports.bedrock }}/udp"
    volumes:
      - "{{ minecraft_dirs.velocity }}/config/velocity.toml:/config/velocity.toml"
      - "{{ minecraft_dirs.velocity }}/config/forwarding.secret:/config/forwarding.secret"
      - "{{ minecraft_dirs.velocity }}/plugins:/plugins"
      - "{{ minecraft_dirs.velocity }}/data:/server"
  crossplay:
    image: itzg/minecraft-server
    container_name: srv-crossplay
    stdin_open: true
    tty: true
    environment:
    EULA: "true"
    TYPE: "PAPER"
    PLUGINS: |
      # TODO: move to a file, or in ansible
      https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/velocity
    volumes:
      - "{{ minecraft_server_dirs.crossplay }}/plugins:/plugins"
      - "{{ minecraft_server_dirs.crossplay }}/data:/server"
  copyparty:
    image: copyparty/min:latest
    container_name: copyparty
    user: 1000:0
    ports:
      - "{{ minecraft_ports.copyparty }}:3923"
    volumes:
      - "{{ minecraft_dirs.copyparty }}/:/cfg:z"
      - "{{ minecraft_dirs.crafty }}:{{ minecraft_dirs.crafty }}:z"
      - "{{ minecraft_dirs.servers }}:{{ minecraft_dirs.servers }}:z"
    environment:
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.2
      # enable mimalloc by replacing "NOPE" with "2" for a nice speed-boost (will use twice as much ram)
      PYTHONUNBUFFERED: 1
      # ensures log-messages are not delayed (but can reduce speed a tiny bit)
    stop_grace_period: 15s # thumbnailer is allowed to continue finishing up for 10s after the shutdown signal
    healthcheck:
      # hide it from logs with "/._" so it matches the default --lf-url filter
      test: ["CMD-SHELL", "wget --spider -q 127.0.0.1:3923/?reset=/._"]
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 15s
