bedrock:
  # The IP address that will listen for connections.
  # Generally, you should only change this if you want to limit what IPs can connect to your server.
  address: 0.0.0.0

  # The port that will Geyser will listen on for incoming Bedrock connections.
  # Since Minecraft: Bedrock Edition uses UDP, this port must allow UDP traffic.
  port: {{ minecraft_ports.bedrock }}

  # Some hosting services change your Java port everytime you start the server and require the same port to be used for Bedrock.
  # This option makes the Bedrock port the same as the Java port every time you start the server.
  clone-remote-port: false

remote:
  address: crossplay
  port: 25565
  auth-type: floodgate
