# Config version. Do not change this
config-version = "2.7"

bind = "0.0.0.0:25565"
read-timeout = 120000
connect-timeout = 5000
announce-forge = true
player-info-forwarding-mode = "modern"
forwarding-secret-file = "/server/forwarding.secret"

[servers]
{% for i in range(1, 100) %}
{% set id = "%02d" | format(i) %}
server{{ id }} = "crafty:{{ 25500 + i }}"
{% endfor %}
crossplay = "crossplay:25565"
# we need a try block. default to crossplay server, open for all
try = ["crossplay"]
[forced-hosts]
{% for i in range(1, 100) %}
{% set id = "%02d" | format(i) %}
"{{ id }}.mc.h0g.in" = ["server{{ id }}"]
{% endfor %}
"crossplay.mc.h0g.in" = ["crossplay"]
[query]
# Basic query settings often required for status pings
enabled = "true"
port = 25565
map = "Velocity"
show-plugins = false
