{
  "acls": [
    {
      "action": "accept",
      "src":  ["{{ tailnet_cidr }}"],
      "dst": ["{{ lan_cidr }}:*"]
    },
    {
      "action": "accept",
      "src": ["{{ lan_cidr }}"],
      "dst": ["{{ tailnet_cidr }}:*"]
    },
    {
      "action": "accept",
      "src": ["*"],
      "dst": ["*:*"]
    }
  ]
}
